<div class="register-container">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center">Login</h2>
        
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Email Input -->
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email">
            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
              Please enter a valid email.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password" placeholder="Enter your password">
            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger">
              Password is required and must be at least 8 characters long.
            </div>
        </div>
          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">Login</button>
        </form>
        <div class="text-center mt-3">
          <p>Don't have an account? 
            <a href="http://localhost:4200/register" class="text-primary">Register here</a>
          </p>
        </div>
        
      </div>
    </div>
  </div>