<div class="register-container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center">Register</h2>
      
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Name Input -->
        <div class="mb-3">
          <label for="firstName" class="form-label">Name</label>
          <input type="text" id="firstName" class="form-control" formControlName="firstName" placeholder="Enter your name">
          <div *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched" class="text-danger">
            Name is required.
          </div>
        </div>

        <!-- Email Input -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email">
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
            Please enter a valid email.
          </div>
        </div>

        <!-- Password Input -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password" placeholder="Enter your password">
          <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger">
            Password is required and must be at least 8 characters long.
          </div>
        </div>

        <!-- Confirm Password Input -->
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Confirm your password">
          <div *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" class="text-danger">
            Passwords do not match.
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Role</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="role" id="admin" value="ROLE_ADMIN" formControlName="role">
            <label class="form-check-label" for="admin">Admin</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="role" id="user" value="ROLE_USER" formControlName="role" checked>
            <label class="form-check-label" for="user">User</label>
          </div>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">Register</button>
      </form>
      <div class="text-center mt-3">
        <p>Have an account? 
          <a href="http://localhost:4200/login" class="text-primary">Login here</a>
        </p>
      </div>
    </div>
  </div>
</div>